<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
	  <h1><a href="https://solartis.com"><img src="/solartisLogo.png" style="background-color: #fff;"></a></h1>
   <!--<div class="info"><p>An easier way to fill out insurance forms.</p></div>-->
  
  <form method="post" action="/" enctype="application/x-www-form-urlencoded">
	    <h1>Thank you for filling out the form!</h1>
	    
    <div class="contentform">
    	<div class="policy-img"><img src="/FontAwesome_f15c(0)_128.png"></div>

        Status Code: <%=  statusCode %> <br>
        Status Message: <%= statusMessage %> <br><br>
        <a href="/">Return to homepage</a>
    </div>


	</div>
	
</form>	

  
</body>
</html>
</html>
