<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% /* include ../partials/nav.ejs */ %>
<div class="container">
    <div class="wrapper">
    <a href="/"><img src="/edc-header.png" style="max-width:800px; margin: 0 auto; display: block"></a>
        <div class="jumbotron" style="background-color: #FFF">
            Hello world!
        </div>
    </div>

       

</div>

</body>
</html>
