<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% /* include ../partials/nav.ejs */ %>
<div class="container">
    <div class="wrapper">
    <a href="/"><img src="/edc-header.png" style="max-width:400px; margin: 0 auto; display: block"></a>
        <div class="jumbotron" style="padding:0;text-align:center">
            <h2>You can select which moments will appear in your customized video.</h2>
            <br>
            <ul class="resized-pics">
            <li><img src="/resized1000.jpg"></li>
            <li><img src="/resized2000.jpg"></li>
            <li><img src="/resized3000.jpg"></li>
            <li><img src="/resized4000.jpg"></li>
            <li><img src="/resized5000.jpg"></li>
            <li><img src="/resized6000.jpg"></li>

            </ul>
            
            <br>
            <button type="btn btn-info" style="font-size: 20px;padding: 10px 20px;border-radius: 2px;margin-top: 10px;"><a href="/video" class="download-btn" >View Your Customized Video</a></button>
            <br><br><br>
        </div>
    </div>

       

</div>
</body>
</html>
