<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% /* include ../partials/nav.ejs */ %>
<div class="container">
    <div class="wrapper">
    <a href="/"><img src="/edc-header.png" style="max-width:400px; margin: 0 auto; display: block"></a>
        <div class="jumbotron" style="padding:0;text-align:center">
            <h2>Enjoy your Personalized EDC Video</h2>
            <br>
            <video controls style="width:100%">
  <source src="/FullTarty.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>
            <br>
            <button type="btn btn-info" style="font-size: 20px;padding: 10px 20px;border-radius: 2px;margin-top: 10px;"><a href="/download" class="download-btn" >Download</a></button>
            <p>Be sure to share your video and use the #EDCLV2018 #CampEDC</p>
        </div>
    </div>

       

</div>
</body>
</html>
